parse_git_branch() {
    git branch 2> /dev/null | sed -e '/^[^*]/d' -e 's/* \(.*\)/(git::\1)/'
}

parse_venv() {
    if [[ -n "$VIRTUAL_ENV" ]]; then
        # get the env name
        venv="${VIRTUAL_ENV##*/}"
    else
        venv=""
    fi
    [[ -n "$venv" ]] && echo "$venv"
}

echo "git_brach: $(parse_git_branch)"
PS1="($(parse_venv)) \w/ \$(parse_git_branch)> "